DATABASE_URL = 'file:./dev.db'; // change to postgresql://USER:PASS@HOST:PORT/DATABASE?schema=public for production
JWT_SECRET = 'supersecret_jwt_key_change_me';
NODE_ENV = 'development';
DB_PROVIDER = 'sqlite'; //set to "postgresql" for production
